body table {
  width: auto;
  display: table;
  margin: 25px auto;

  background: black;
  border: 1px solid black;
}

table td img {
  display: block;
}

body table td {
  padding: 2px;
}

html body {
  background: #5C5C5C;
}

body h1 {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 19px;
  font-weight: bold;
}

body table td.active {
  background: #000000;
}

body table td,
body table th {
  border-color: #000000;
}