span#rfid-tracker {
  background: #ECF3F6;
  padding: 6px;
  border: 1px black solid;
  display: none;
}

#somi-door-utils {
  background: #cacbc3;
}

#somi-door-utils a {
  background: rgb(236, 243, 246);
  text-align: center;
  min-width: 68px;
  display: block;
  float: right;
  z-index: 1000;
  position: relative;
  margin-right: 31px;
  padding: 4px;
  border: 1px black solid;
}

#somi-door-utils form {
  margin-top: 5px;
  display: block;
  float: right;
  z-index: 1000;
  position: relative;
  margin-right: 11px;
}

.view-display-id-admin_devices .views-field-field-color-picker div.color-swatch {
  margin-top: 19px;
}

div.event-wrapper li div.type-icon img {
  float: none;
}
div.event-wrapper li div.field-name-field-color-picker {
  display: inline-block;
}

html body {
  overflow: hidden;
}

a.score-board {
  margin: 10px 0 20px 0;
  display: inline-block;
}

div.departament-filter li {
 float: left;
 margin: 8px;
}

div.departament-filter ul {
  width: 150px;
}

.board-filter-form {
  float: left;
  clear: left;
}

.board-filter-form input[id^="date-filter-datepicker-popup"] {
  width: 113px;
}

.board-filter-form div.form-item.form-type-date-popup.form-item-date,
.board-filter-form div.form-item.form-type-textfield.form-item-date-date {
  border: 0;
  padding: 0;
}

.board-filter-form .container-inline-date {
  clear: inherit;
}

.board-filter-form .form-item.form-type-select.form-item-sort-order,
.board-filter-form .form-item.form-type-radios.form-item-sort {
  width: 101px;
  margin-top: 10px;
}

.board-filter-form .form-item.form-type-date-popup {
  margin-top: 15px;
}

.board-filter-form input[type="submit"] {
  margin-top: 5px;
}

.somi-board span.top-info {
  top: 5px;
  right: 11px;
  left: initial;
  bottom: initial;
}

.somi-board span.sub-info {
  bottom: 16px;
  left: 10px;
}

.somi-board span.time-arrival.board-counter {
  color: #fffd9a;
}

.somi-board span.time-arrival.sub-info {
  color: #CDFBCE;
}

.somi-board span.time-arrival.top-info {
  color: #FFFFFF;
}